[submodule "BurpJSLinkFinder"]
	path = BurpJSLinkFinder
	url = https://github.com/InitRoot/BurpJSLinkFinder.git
[submodule "JSpector"]
	path = JSpector
	url = https://github.com/hisxo/JSpector
[submodule "reflector"]
	path = reflector
	url = https://github.com/elkokc/reflector
